<include file="include/head" />

<!----------导航及图片结束----------->
<!--------------核心部分开始 -------->
<section class="index_product index_product_case">
    <div class="max_w1200">
<div class="index_product_l">
            <div class="index_product_l_bt">
                <h2>三集一体除湿热泵</h2>
            </div>
            <div class="index_product_l_list">
                <ul>
                                    <li>
                        <a href="{:U('Product/combinedpump')}">三集一体除湿热泵参数选型一<span></span></a>
                                                                            <div class="index_product_list_erji">
                            <p><a href="{:U('Product/combinedpumpinfo',array('id'=>63,'store_cate'=>36))}"><span></span>AP15L</a></p>                  
                        </div>
                                                <div class="index_product_list_erji">
                            <p><a href="{:U('Product/combinedpumpinfo',array('id'=>64,'store_cate'=>36))}"><span></span>AP30L</a></p>                  
                        </div>
                                                <div class="index_product_list_erji">
                            <p><a href="{:U('Product/combinedpumpinfo',array('id'=>65,'store_cate'=>36))}"><span></span>AP40L</a></p>                  
                        </div>
                        
						<div class="index_product_list_erji">
                            <p><a href="{:U('Product/combinedpumpinfo',array('id'=>66,'store_cate'=>36))}"><span></span>AP50L</a></p>                  
                        </div>
												<div class="index_product_list_erji">
                            <p><a href="{:U('Product/combinedpumpinfo',array('id'=>67,'store_cate'=>36))}"><span></span>AP60L</a></p>                  
                        </div>
						
                                                                    </li>
																	<li>
                        <a href="{:U('Product/combinedpumpinfo')}">三集一体除湿热泵参数选型二<span></span></a>
                                                                            <div class="index_product_list_erji">
                            <p><a href="{:U('Product/combinedpumpinfo',array('id'=>68,'store_cate'=>37))}"><span></span>AP75L</a></p>                  
                        </div>
                                                <div class="index_product_list_erji">
                            <p><a href="{:U('Product/combinedpumpinfo',array('id'=>69,'store_cate'=>37))}"><span></span>AP85L</a></p>                  
                        </div>
                                                <div class="index_product_list_erji">
                            <p><a href="{:U('Product/combinedpumpinfo',array('id'=>70,'store_cate'=>37))}"><span></span>AP100L</a></p>                  
                        </div>
                        
						<div class="index_product_list_erji">
                            <p><a href="{:U('Product/combinedpumpinfo',array('id'=>71,'store_cate'=>37))}"><span></span>AP120L</a></p>                  
                        </div>
						
						<div class="index_product_list_erji">
                            <p><a href="{:U('Product/combinedpumpinfo',array('id'=>72,'store_cate'=>37))}"><span></span>AP135L</a></p>                  
                        </div>
						
                                                                    </li>
                </ul>
            </div>
            <!-- 热门新闻 -->
            <div class="index_product_l_new">
</div>
            <!-- 联系我们 -->
            <div class="index_product_l_new">
    <div class="index_product_l_bt">
        <h2>联系艾普西龙</h2>
    </div>
    <div class="index_product_l_contact">
        <div class="index_tel">
            <img src="__PUBLIC__/picture/picture2/new_list_l_tel_03.png" alt="" />
            <div class="index_tel_r">
                <p>咨询热线：</p>
                <p><span>138-2378-7738</span></p>
            </div>
        </div>
        <div class="index_product_l_contact_qq">
            <img src="__PUBLIC__/picture/picture2/new_list_03.png" alt="" />
            <p>客服QQ：<span>3108866861</span></p>
        </div>
        <div class="index_product_l_contact_qq">
            <img src="__PUBLIC__/picture/picture2/new_list_06.png" alt="" />
            <p>邮箱：<span>apxl8888@163.com</span></p>
        </div>
        <div class="index_product_l_contact_list">
        <ul>
<li>
<h4>公司地址</h4>
<p>深圳市龙岗区坂田街道中宝通科技园B3-104</p>
<p>联系人：杨小姐</p>
<p>电话：<span>0755-28280823</span></p>
<img src="__PUBLIC__/picture/picture2/20170912194802_989.png" alt="图片" width="13" height="20" /> </li>

</ul>
        </div>
    </div>
</div>
        </div>
        <ul class="index_product_r tab_conbox" id="case_r">
            <div class="case_r">
						<div class="case_r_weizhi">
							<div class="case_r_weizhi_bt">艾普西龙三集一体除湿热泵</div>
							<p class="case_r_weizhi_r">您所在的位置： <a href="{:U('Index/index')}">首页</a>
								 /
								<a href="{:U('Product/combinedpump')}">三集一体除湿热泵</a>
								
							</p>
							<div class="clear"></div>
						</div>
						<div class="product_about">
							<div class="product_about_top">
								<div class="product_about_top_l">
									<volist name="comment" id="vo">
									<div class="boxpro">
										<div class="bigimgpro">
											<div>
												<img src="{$vo.pic}" class="img-responsive center-block">
											</div>
										</div>
										<div class="smallimgpro">
											<div>
												<img src="{$vo.pic1}" class="img-responsive center-block">
											</div>
										</div>
									
									</div>
								</div>

								<div class="product_about_top_r">
									<h1>{$vo.title}</h1>
									<div class="product_about_top_con">
										<p>机组是集池内环境除湿、制冷、再热、全新风和池水恒温于一体的新型高效节能设备，可以广泛应用于酒店、会所、小区、体育场馆的泳池。

</p><p>特点：</p><p>

1.功能强大</p><p>

集池内环境除湿、制冷、再热、全新风和池水恒温于一体。</p><p>

2.环保节能</p><p>

只需消耗少量的电能提供循环动力，具有运行费用低、零污染排放的特点。</p><p>      

3.智能管理</p><p>

采用微电脑控制器，全自动控制运行，可接入楼宇控制系统实现自动化远程控制。</p><p>

4.健康舒适</p><p>

合理的控制好室内环境的温湿度动态平衡，保证泳池干净舒适。

</p>
								</div>
								</div>
								</volist>
								<div class="clear"></div>
								<!--相关产品-->
							
								<!--产品详情-->
								<div class="product_about_xxk">
								<volist name="list" id="vo">
									<div id="tabbox4">
										<div class="tabbox">
											<ul class="tabs" id="tabs4">
												<li>
													<a>产品详情</a>
												</li>
											</ul>
										</div>
										
										<ul class="tab_conbox" id="tab_conbox4">
										
										<li class="tab_con">
										{$vo.body}
										</li>
										</ul>
										</volist>
									</div>
								</div>
								<!--产品详情公用内容-->

							</div>
						</div>
					</div>
				</ul>
				<div class="clear"></div>
			</div>
		</section>
		
<include file="include/chejian" />
<include file="include/zizhi" />
<include file="include/foot" />