<include file="include/head" />

<!----------导航及图片结束----------->
<!--------------核心部分开始 -------->
<section class="index_product index_product_case">
    <div class="max_w1200">
<div class="index_product_l">
            <div class="index_product_l_bt">
                <h2>造雾机</h2>
            </div>
            <div class="index_product_l_list">

            </div>
            <!-- 热门新闻 -->
            <div class="index_product_l_new">
</div>
            <!-- 联系我们 -->
            <div class="index_product_l_new">
    <div class="index_product_l_bt">
        <h2>联系艾普西龙</h2>
    </div>
    <div class="index_product_l_contact">
        <div class="index_tel">
            <img src="__PUBLIC__/picture/picture2/new_list_l_tel_03.png" alt="" />
            <div class="index_tel_r">
                <p>咨询热线：</p>
                <p><span>138-2378-7738</span></p>
            </div>
        </div>
        <div class="index_product_l_contact_qq">
            <img src="__PUBLIC__/picture/picture2/new_list_03.png" alt="" />
            <p>客服QQ：<span>3108866861</span></p>
        </div>
        <div class="index_product_l_contact_qq">
            <img src="__PUBLIC__/picture/picture2/new_list_06.png" alt="" />
            <p>邮箱：<span>apxl8888@163.com</span></p>
        </div>
        <div class="index_product_l_contact_list">
        <ul>
<li>
<h4>公司地址</h4>
<p>深圳市龙岗区坂田街道中宝通科技园B3-104</p>
<p>联系人：杨小姐</p>
<p>电话：<span>0755-28280823</span></p>
<img src="__PUBLIC__/picture/picture2/20170912194802_989.png" alt="图片" width="13" height="20" /> </li>

</ul>
        </div>
    </div>
</div>
        </div>
        <ul class="index_product_r tab_conbox" id="case_r">
            <div class="case_r">
                <div class="case_r_weizhi">
                    <h1 class="case_r_weizhi_bt">艾普西龙造雾机</h1>
                    <p class="case_r_weizhi_r"><img src="__PUBLIC__/picture/picture2/weizhi_03.png" alt="" />您所在的位置：
                        <a href="{:U('Index/index')}">首页</a>
                                                        /<a href="{:U('Product/makingmist')}">造雾机</a>
                            
                    </p>
                    <div class="clear"></div>
                </div>
                <div class="index_product_list_r">
                    <div class="row">
					 <volist name="list" id="vo">
                                                                    <div class="col-xs-4">
                            <div class="index_product_list_r_1">
                                <div class="index_product_list_r_top">
                                    <a title="{$vo.title}" target="_blank" href="{:U('Product/makingmistinfo',array('id'=>$vo['id']))}">
                                        <img src="{$vo.pic}" alt="{$vo.title}" class="img-responsive center-block"/>
                                        <p>{$vo.title}</p>
                                    </a>
                                </div>
                                <div class="index_product_list_r_bottom">
                                    <a href="{:U('Product/makingmistinfo',array('id'=>$vo['id']))}" target="_blank">了解产品</a>
                                    <a href="{:U('About/contact')}" target="_blank">我要咨询</a>
                                </div>
                            </div>
                        </div>
					</volist>
                                                <div class="clear"></div>                                         
                    </div>
                </div>
            </div>
        </ul>
        <div class="clear"></div>
    </div>
</section>
<!--手机设备列表-->

<!--------------案例列表----------------------->
		<!--解决方案-->
<section class="index_product">
  <div class="max_w1200" id="tabbox">
    <div class="index_product_l">
      <div class="index_product_l_bt">
        <h2>造雾机案例中心</h2>
      </div>
      <div class="index_product_case_ul tabbox">
        <ul class="tabs" id="tabs"></ul>
      </div>
      
    </div>
    <ul class="index_product_r tab_conbox" id="tab_conbox">
          <li class="tab_con">
        <div class="index_product_r_bt">
          <h4>造雾机案例中心</h4>
        </div>
        <div class="index_product_r_case">
		
		<div style="width:680px;">
<volist name="comment" id="vo">
<div style="float:left;padding:1px;">
<a title="{$vo.title}" target="_blank" href="{:U('Product/makingmistcase',array('id'=>$vo['id']))}">
<img src='{$vo.pic}' style="width:218px;height:168px;border:#CCCCCC 1px solid;">
<p style="height:40px;padding-top:8px;text-align:center;"> {$vo.title}</p></a>
</div>
</volist>
          </div>
          <div class="clear"></div>            
        </div>
      </li>
            
    </ul>
  </div>
  </div>
</section>
<!-----案例结束------->
<!-----团队展示------->
<include file="include/team" />
<include file="include/foot" />
<!-----团队展示------->

