<div class="f_total">
  <div class="f_all">
  <div class="f_left">
      <div class="f_up">
        <ul>
          <li><a href="{:U('Index/index')}" title="首页">首页</a></li>
          <li><a href="{:U('Product/airpump')}" title="空气源热泵">空气源热泵</a></li>
          <li><a href="{:U('Product/combinedpump')}" title="三集一体除湿热泵">三集一体除湿热泵</a></li>
          <li><a href="{:U('Product/electheater')}" title="电磁加热器">电磁加热器</a></li>
          <li><a href="{:U('About/index')}" title="关于我们">关于我们</a></li>
          <li><a href="{:U('About/contact')}" title="联系我们">联系我们</a></li>
        </ul>
    </div>
    <div class="f_box1">
        <p>主营:空气源热泵，三集一体除湿热泵，电磁加热器，电控箱，造雾机，毛发收集器，造浪设备等等</p>
        <p>&nbsp;&nbsp;版权所有：深圳市艾普西龙有限公司&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">粤ICP备19043439号</a>&nbsp;&nbsp;
</p>
      </div>
    </div>
    <div class="f_right">
    <div class="f_box2"><img src="__PUBLIC__/picture/picture1/weixin.jpg" width="154" height="154" alt="定制冷水机组,中央空调机组,节能冷水机组,工业制冷机组,化工冷水机组" /><span style="text-align:center">扫一扫，联系业务经理！</span>
<p align="center">随时随地获取产品资讯！</p></div>
    <div class="f_box3">
    <div class="tel_box">销售电话：<p class="tel">0755-28280823<p></div>
    <div class="tel_box">服务电话：<p class="tel">138-2378-7738<p></div>

	</div>
  </div>
</div>
</body>
</html>