		<section class="index_team_fc">
	<div class="max_w1200">
		<div class="index_bt">
			<h3><img src="__PUBLIC__/picture/picture2/index_case_17.png" alt="" />团队风采展示</h3><div class="clear"></div>
		</div>
		<div class="owl_fc">
				<a>
					<img title="中山黄飞鸿纪念馆合影" src="__PUBLIC__/picture/picture2/中山黄飞鸿纪念馆合影.jpg" alt="中山黄飞鸿纪念馆合影" />
				</a>
				<a>
					<img title="游泳活动" src="__PUBLIC__/picture/picture2/游泳活动.jpg" alt="游泳活动" />
				</a>
				<a>
					<img title="游泳活动2" src="__PUBLIC__/picture/picture2/游泳活动2.jpg" alt="游泳活动2" />
				</a>
				<a>
					<img title="清远出游" src="__PUBLIC__/picture/picture2/清远出游.jpg" alt="清远出游" />
				</a>
				<a>
					<img title="年会" src="__PUBLIC__/picture/picture2/年会.jpg" alt="年会" />
				</a>
				<a>
					<img title="江门出游" src="__PUBLIC__/picture/picture2/江门出游.jpg" alt="江门出游" />
				</a>
				<a>
					<img title="惠州出游" src="__PUBLIC__/picture/picture2/惠州出游.jpg" alt="惠州出游" />
				</a>
				<a>
					<img title="公司出游" src="__PUBLIC__/picture/picture2/公司出游.jpg" alt="公司出游" />
				</a>
		</div>
	</div>
	</section>