<section class="about_honor">
  <div class="max_w1200">
    <div class="index_bt">
      <h3><img src="__PUBLIC__/picture/picture2/index_case_17.png" alt="荣誉资质" />荣誉资质</h3>
      <div class="clear"></div>
    </div>
    <div class="owl_honor">
        <img alt="资质1" src="__PUBLIC__/picture/picture2/资质1.jpg">
        <img alt="资质2" src="__PUBLIC__/picture/picture2/资质2.jpg">
        <img alt="资质3" src="__PUBLIC__/picture/picture2/资质3.jpg">
        <img alt="资质4" src="__PUBLIC__/picture/picture2/资质4.jpg">
        <img alt="资质5" src="__PUBLIC__/picture/picture2/资质5.jpg">
        <img alt="资质6" src="__PUBLIC__/picture/picture2/资质6.jpg">
    </div>
  </div>
</section>