<include file="include/head" />



		<section class="index_product index_product_case">
			<div class="max_w1200">
				<div class="index_product_l">
					<div class="index_product_l_bt">
						<h2>联系我们</h2>
					</div>

					<div class="index_product_case_ul tabbox">
						<ul class="tabs">
														<li>
								<a href="{:U('About/index')}">关于艾普西龙<span></span></a>
															</li>
														<li>
								<a href="{:U('About/advantage')}">艾普西龙优势<span></span></a>
															</li>
														<li>
								<a href="{:U('About/index')}">企业文化<span></span></a>
															</li>
														<li>
								<a href="{:U('About/contact')}">联系艾普西龙<span></span></a>
															</li>
						</ul>
					</div>
				</div>
				<ul class="index_product_r tab_conbox" id="case_r">
					<div class="case_r">
						<div class="case_r_weizhi">
							<h1 class="case_r_weizhi_bt">联系艾普西龙</h1>
							
<p class="case_r_weizhi_r">
	您所在的位置：
	<a href="{:U('Index/index')}">首页</a>
		/
	<a href="{:U('About/index')}">关于我们</a>
		/
	<a href="{:U('About/advantage')}">艾普西龙优势</a>
	</p>
<div class="clear"></div>

							<div class="clear"></div>
						</div>
						<div class="contact">
						<p style="font-size:16px;margin:15px 0;">24小时全天候免费技术支持服务</p>
						<p style="font-size:16px;margin:15px 0;">1小时内极速响应</p>
						<p style="font-size:16px;margin:15px 0;">2大技术中心倾心服务</p>
						<p style="font-size:16px;margin:15px 0;">3大步骤快速解决问题</p>
						<img src="__PUBLIC__/picture/picture2/优势.jpg" alt="优势" />
</div>
</div>
</ul>
<div class="clear"></div>
</div>
</section>

<include file="include/foot" />
