<include file="include/head" />



		<section class="index_product index_product_case">
			<div class="max_w1200">
				<div class="index_product_l">
					<div class="index_product_l_bt">
						<h2>联系我们</h2>
					</div>

					<div class="index_product_case_ul tabbox">
						<ul class="tabs">
														<li>
								<a href="{:U('About/index')}">关于艾普西龙<span></span></a>
															</li>
														<li>
								<a href="{:U('About/advantage')}">艾普西龙优势<span></span></a>
															</li>
														<li>
								<a href="{:U('About/index')}">企业文化<span></span></a>
															</li>
														<li>
								<a href="{:U('About/contact')}">联系艾普西龙<span></span></a>
															</li>
						</ul>
					</div>
				</div>
				<ul class="index_product_r tab_conbox" id="case_r">
					<div class="case_r">
						<div class="case_r_weizhi">
							<h1 class="case_r_weizhi_bt">联系艾普西龙</h1>
							
<p class="case_r_weizhi_r">
	您所在的位置：
	<a href="{:U('Index/index')}">首页</a>
		/
	<a href="{:U('About/contact')}">联系艾普西龙</a>
	</p>
<div class="clear"></div>

							<div class="clear"></div>
						</div>
						<div class="contact">
							<div class="contact_top">
								<p>&nbsp&nbsp当您进入“联系我们”的页面时，您已成为我们的准客户，欢迎您来到艾普西龙公司官网。您可以通过以下几种方式联系到我们。
外地客户来深圳，请预约：13823787738，会有专车接送。<span>我们将定制最适合您的解决方案!</span></p>
							</div>
							<div class="contact_fs">
								<div class="contact_bt">
									<h2><span>联系方式</span></h2>
								</div>
								<div class="contact_fs_row">
									<div class="contact_fs_col-xs-6">
										<img src="__PUBLIC__/picture/contact_11.png" alt="" />
										<div class="contact_fs_r">
											<div class="contact_fs_r_1">
												<p>全国咨询热线</p>
												<p><span>138-2378-7738</span></p>
											</div>
										</div>
									</div>
									<div class="contact_fs_col-xs-6">
										<img src="__PUBLIC__/picture/contact_11.png" alt="" />
										<div class="contact_fs_r">
											<div class="contact_fs_r_1">
												<p>固定电话</p>
												<p><span>0755-28280823</span></p>
											</div>
										</div>
									</div>
									
									<div class="contact_fs_col-xs-6">
										<img src="__PUBLIC__/picture/contact_14.png" alt="" />
										<div class="contact_fs_r">
											<div class="contact_fs_r_1">
												<p>邮箱</p>
												<p><span>apxl8888@163.com</span></p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="contact_dz">
								<div class="contact_bt">
									<h2><span>联系地址</span></h2>
								</div>
								<div class="contact_dz_row">
        <div class="contact_dz_col-xs-6">
<div class="contact_dz_1" style="min-height: 230px;">
<h4>公司地址</h4>
<p>深圳市龙岗区坂田街道中宝通科技园B3-104</p>
<p>联系人：杨小姐</p>
<p>电话：138-2378-7738</p>
<p>座机：0755-28280823</p>
</div>
</div>

</div>
</div>
</div>
</div>
</ul>
<div class="clear"></div>
</div>
</section>

<include file="include/foot" />
