<include file="include/head" />
<!--位置-->
<section class="about_weizhi">
    <div class="max_w1200">
        <div class="case_r_weizhi">
            
<p class="case_r_weizhi_r">
	您所在的位置：
	<a href="{:U('Index/index')}">首页</a>
		/
	<a href="{:U('About/index')}">关于我们</a>
	</p>
<div class="clear"></div>

            <div class="clear"></div>
        </div>
    </div>
</section>
<!--关于圆能--> 
<h1 style="text-align:center;">关于艾普西龙</h1>
<!--文字介绍-->
<section class="about_wz">
    <div class="max_w1200">
        <div class="about_wz_top">
			
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp深圳市艾普西龙科技有限公司是一家集空气能产品研发、制造、生产、销售为一体的现代化科技型企业。产品涵盖空气源热泵、三集一体除湿热泵、电磁加热器、造浪设备、造雾机及控制柜等30余款产品，广泛应用于别墅、酒店、温泉泳池休闲场所、体育馆、学校、工厂等领域。</p>

  <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp艾普西龙公司生产基地，位于深圳市龙岗区中宝通科技园，拥有强大的研发制造能力，完整的产品种类，完善的售后服务网络，凭借多年的生产制造经验，为众多客户提供能源节省率达75%的节能环保设备，并广受客户一致好评。</p>

  <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp艾普西龙公司以“科技、节能、创新、环保”为企业宗旨，坚持走技术创新路线，在国家倡导节能环保、大力发展循环经济的今天，艾普西龙产品的质量安全和服务保障，能够在款式、质量、价格、售后等全方位切实维护客户的利益，成为广大客户的首选品牌以及OEM实力厂家。
			
			</p>
			</div>
        <div class="row">
            <div class="col-xs-4">
                <h3>公司愿景</h3>
                <p>打造高端产品 一流服务 一流品牌</p>
            </div>
            
            <div class="col-xs-4">
                <h3>服务宗旨</h3>
                <p>诚信至上</p>
                <p>真诚服务</p>
            </div>
            <div class="col-xs-4">
                <h3>核心价值观</h3>
                <p>以人为本</p>
                <p>上善如水</p>
                <p>创新发展</p>
            </div>
            <div class="col-xs-4">
                <img src="__PUBLIC__/picture/picture2/愿景1.jpg" alt="" />
            </div>
            <div class="col-xs-4">
                <img src="__PUBLIC__/picture/picture2/使命2.jpg" alt="" />
            </div>
            <div class="col-xs-4">
                <img src="__PUBLIC__/picture/picture2/价值观3.jpg" alt="" />
            </div>
        </div>
    </div>
</section>
<!--团队风采-->
<include file="include/team" />
<!-- 专业工程团队 -->
<!--团队成员
<section class="index_team">
  <div class="max_w1200">
    <div class="index_bt">
      <h3><img src="picture/index_case_17.png" alt="" />施工团队成员</h3>
      <div class="clear"></div>
    </div>
    <div class="row">
            <div class="col-xs-3">
          <a href="http://www.gdyznkj.com/article_read_174.html" target="_blank" title="郭建">
              <img src="picture/275_204_982ecdf02a9ecaffebc66e8b5549df71.jpg" alt="郭建" />
          </a>
          <div class="index_team_1">
            <p>郭建</p>
            <a href="http://p.qiao.baidu.com/cps/chat?siteId=11741274&amp;userId=25070683" target="_blank">立即咨询</a>
          </div>
        </div>
              <div class="col-xs-3">
          <a href="http://www.gdyznkj.com/article_read_35.html" target="_blank" title="潘开陶">
              <img src="picture/275_204_22382529c321cde955bb3a4c107d7fd1.jpg" alt="潘开陶" />
          </a>
          <div class="index_team_1">
            <p>潘开陶</p>
            <a href="http://p.qiao.baidu.com/cps/chat?siteId=11741274&amp;userId=25070683" target="_blank">立即咨询</a>
          </div>
        </div>
              <div class="col-xs-3">
          <a href="http://www.gdyznkj.com/article_read_34.html" target="_blank" title="王道胜">
              <img src="picture/275_204_2d6b07eb220d9a45e9d96ae2354a618f.jpg" alt="王道胜" />
          </a>
          <div class="index_team_1">
            <p>王道胜</p>
            <a href="http://p.qiao.baidu.com/cps/chat?siteId=11741274&amp;userId=25070683" target="_blank">立即咨询</a>
          </div>
        </div>
              <div class="col-xs-3">
          <a href="http://www.gdyznkj.com/article_read_33.html" target="_blank" title="蒋有名">
              <img src="picture/275_204_485df3256b09bb0030d82d68f4511f47.jpg" alt="蒋有名" />
          </a>
          <div class="index_team_1">
            <p>蒋有名</p>
            <a href="http://p.qiao.baidu.com/cps/chat?siteId=11741274&amp;userId=25070683" target="_blank">立即咨询</a>
          </div>
        </div>
      
    </div>
  </div>
</section>
荣誉资质-->
<section class="about_honor">
  <div class="max_w1200">
    <div class="index_bt">
      <h3><img src="__PUBLIC__/picture/picture2/index_case_17.png" alt="荣誉资质" />荣誉资质</h3>
      <div class="clear"></div>
    </div>
    <div class="owl_honor">
        <img alt="资质1" src="__PUBLIC__/picture/picture2/资质1.jpg">
        <img alt="资质2" src="__PUBLIC__/picture/picture2/资质2.jpg">
        <img alt="资质3" src="__PUBLIC__/picture/picture2/资质3.jpg">
        <img alt="资质4" src="__PUBLIC__/picture/picture2/资质4.jpg">
        <img alt="资质5" src="__PUBLIC__/picture/picture2/资质5.jpg">
        <img alt="资质6" src="__PUBLIC__/picture/picture2/资质6.jpg">
    </div>
  </div>
</section>
<include file="include/foot" />
